@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

.services-cont{
    margin:40px 0px
}
.services-image {
    height:150px;
    width:100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.services-content{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 15px 15px;
    padding:20px 30px;
}
.services-title{
    font-size: 18px;
    color: #282828;
}
.services-description{
    font-size: 16px;
    color: #282828;
}