.popular-title {
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;

}

.popular-title >span {
    font-weight: bold;
    color: black;
}

.popular-location-cont {
    background: #FFFFFF;
    border: 0.8px solid rgba(40, 40, 40, 0.2);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 15px 20px;
    color: #282828;
}

.location-name {
    font-size: 18px;
    color: #282828;
}

.location-count {
    font-size: 14px;
    color: rgba(40, 40, 40, 0.7);
}